parameters:
    level: max
    paths:
        - 'src'
        - 'tests'

    bootstrapFiles:
        - vendor/autoload.php
    symfony:
        containerXmlPath: var/cache/dev/appDevDebugProjectContainer.xml

